<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal text-white">Rails Event Calendar</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <%= link_to 'События', events_path, class: %w(p-2 text-white) %>
    <%= link_to 'Профиль', profile_path, class: %w(p-2 text-white) %>
  </nav>
  <% if user_signed_in? %>
    <%= link_to 'Выйти', destroy_user_session_path, class: %w(btn btn-outline-light), method: :delete %>
  <% else %>
    <%= link_to 'Войти', new_user_session_path, class: %w(btn btn-outline-light) %>
  <% end %>
</div>
