.form-sign-in,
.form-sign-up,
.form-forgot-password {
    width: 400px;
}

.form-sign-in input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-sign-in input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}